body
  color: #fff
  background-color: #333
  height: 100vh
  margin: 0

#app
  padding: 1em
  display: flex
  flex-direction: column
  height: calc(100% - 2em)
  #textinput
    display: flex
    flex-direction: column
  label
    font-weight: bold
  input
    font-size: 1.5em
    line-height: 1.5em
    padding-left: .5em
    margin-bottom: 1em
  #separator
    flex-grow: 1
  #change
    button
      font-size: 1.5em
