doctype html
meta(charset='utf-8')
title settings

#app
  #textinput
    label Song Title
    input#title(type='text')
    label Artist
    input#artist(type='text') 
  #color
    label Color
    .picker(acp-color='#6F3381' acp-show-rgb='no' acp-show-hsl='no')
  #select
    label Font
    #font
    label Visualizer
    #visualizer
  #separator
  #change
    a.btn#sendButton(autofocus) Update
    a.btn#clearButton Clear text

script(src="./settings.js")
