doctype html
meta(charset='utf-8')
title settings

h1 Background Color
ul
  li
    label
      input(type='radio', name='colors', value='skyblue')
      |  Skyblue
  li
    label
      input(type='radio', name='colors', value='tomato')
      |  Tomato
  li
    label
      input(type='radio', name='colors', value='slategray')
      |  Slate Gray
